body {
  background-color: #60d9f1;
  padding: 30px;
}

hr{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
}

.header{
  text-align: center;
}
.music-player{
  width: 100%;
}

.search{
  width: 80%;
  height: 1.5rem;
}
.searchBtn{
  width: 10%;
  height: 1.7rem;
  border: none;
  border-radius: 5px;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.results > p{
  width: 100%;
}

.resultsCard{
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid #000;
  padding-top: 10px;
}

.thumbnail{
  height: 175px;
  width: 175px;
}

.resultsCard p{
  text-align: center;
  margin: 0;
}
